In [1]:
import pandas as pd
import numpy as np

In [2]:
income=pd.read_excel('h08.xlsx',sheet_name='2020_Dollars')
income

,Unnamed: 0,Median income,Standard error,Median income.1,Standard error.1,Median income.2,Standard error.2,Median income.3,Standard error.3,Median income.4,...,Median income.32,Standard error.32,Median income.33,Standard error.33,Median income.34,Standard error.34,Median income.35,Standard error.35,Median income.36,Standard error.36
0,United States,67521,475,69560,557,65127,433,64806,354,63683,...,57433,293,56964,278,56291,292,54334,294,53337,243
1,Alabama,54393,2587,56901,2544,51475,2498,53973,892,50936,...,42082,1924,43134,2507,43257,2001,42176,1748,41190,1440
2,Alaska,74476,3570,79373,6769,70853,3495,76273,2871,81680,...,69833,2496,72640,3272,70895,2299,80017,2505,76992,3505
3,Arizona,66628,3534,71556,3433,64203,2362,64545,2790,61592,...,55767,1778,58467,1950,57655,1623,54930,1712,50981,1449
4,Arkansas,50540,1992,55220,2414,51316,2173,51561,2790,49518,...,42554,1489,41152,2203,42348,1730,40147,1758,37297,1780
5,California,77358,1351,79080,1873,72662,1271,73662,1533,71879,...,63893,1337,65893,1176,65591,1289,62071,805,60171,866
6,Colorado,82611,6144,73404,5286,75285,3672,78322,3149,76117,...,55300,2711,57871,2350,61480,2094,64834,1955,61394,1916
7,Connecticut,79043,3601,88380,4688,75057,5277,76852,3705,81895,...,76394,2728,71829,2977,73981,3629,71524,2597,71269,2946
8,Delaware,69132,5258,75120,3047,67016,3710,65805,3485,62612,...,64353,2462,63921,1913,57940,2740,52866,3143,61437,2444
9,District of Columbia,88311,3531,94273,3933,88393,2741,88048,3505,76566,...,56412,1578,60011,2809,54991,2831,48486,1739,48561,2046
10,Florida,57435,1766,59097,1598,56329,1945,56685,1918,55202,...,53596,1002,53528,1040,51661,1221,49100,1005,47079,1114
11,Georgia,58952,2080,57335,1804,57542,2095,60206,2570,57738,...,56043,1890,58391,3016,55100,2514,48424,1813,47552,1939
12,Hawaii,80729,2487,89105,3610,82578,3589,77692,2352,77807,...,69667,3126,76550,2348,65575,2727,66626,3327,68714,2894
13,Idaho,66499,1961,66812,2179,60538,2479,63577,2534,61014,...,49470,2118,45366,1823,46913,1537,47762,1376,50189,2291
14,Illinois,73753,2335,75328,2658,72307,2322,68224,2111,66215,...,62283,1591,59200,1172,59941,1433,57215,1203,56518,1349
15,Indiana,66360,4086,67526,3151,61738,2059,62167,2139,60507,...,55467,1964,49222,2063,51387,1603,52165,1440,54182,1689
16,Iowa,68469,3475,66879,4059,70836,3000,67033,5820,63743,...,51273,2274,48502,1993,50779,1696,48143,1390,47265,1773
17,Kansas,72815,3671,74065,4383,65909,2089,61110,3060,61279,...,53933,2432,55919,1967,54096,1768,52425,2376,58605,2170
18,Kentucky,56525,2361,56357,2585,56237,3781,54221,1440,48938,...,41995,1690,45187,2052,44935,2275,39940,1721,42070,2568
19,Louisiana,50935,1637,52352,1430,51514,1808,46360,1534,45515,...,43240,3110,46664,1875,47232,2161,48723,1675,45090,2094
20,Maine,63440,3198,67377,5064,60471,5858,54555,2266,54857,...,55697,1987,51584,2227,52961,2193,47205,1847,49132,2104
21,Maryland,94384,4208,96765,3325,88881,3434,85621,3856,79562,...,77109,2523,76437,3034,69195,2342,69329,2222,70691,2739
22,Massachusetts,86725,6349,88802,2863,89007,2871,77324,3514,77951,...,70065,1770,70472,1565,68596,1662,64891,1863,64150,1649
23,Michigan,63829,3320,64920,1701,62312,1965,60929,2468,61582,...,62173,1281,60550,1583,60153,1465,55770,1928,54646,1511
24,Minnesota,78461,3498,82443,3025,74031,3769,75944,3158,75742,...,61361,2196,61381,2433,59787,2600,54882,2351,58146,2175
25,Mississippi,44966,2695,45346,3034,44100,2375,45872,2327,44332,...,38323,1873,40465,1969,37335,1445,37759,1424,36716,1742
26,Missouri,61901,2594,61353,2969,63629,2517,60068,2757,59344,...,49455,2295,51847,2551,49572,1745,50472,1399,49435,1701
27,Montana,56442,2479,60946,2322,59457,2965,62393,2734,61565,...,46898,1749,44752,1746,45961,1693,46554,1840,46486,1713
28,Nebraska,72024,2409,73983,3300,69658,4054,62955,3007,64045,...,53075,2025,50859,1663,49226,1840,50150,2103,50915,1820
29,Nevada,60956,2448,71791,3508,63771,2181,59714,3209,59791,...,59032,2017,58749,2466,59276,2024,53543,2312,61335,2422
30,New Hampshire,88235,3325,87984,2755,83854,3499,78987,3211,82259,...,73044,2382,70684,3169,69068,1874,60741,2471,61663,1749
31,New Jersey,85239,4164,88821,4119,76463,2933,77082,3167,73854,...,76550,1388,74843,1736,71707,1904,71271,1479,66094,1904
32,New Mexico,50822,1732,53776,2224,49771,2270,50533,2079,52262,...,40706,1757,45372,1357,44869,1567,46984,2358,49090,2449
33,New York,68304,2384,72752,1721,69348,1775,65941,2210,66270,...,60998,1409,57670,997,56581,1072,54383,1203,52414,992
34,North Carolina,60266,1823,61922,1669,55014,1815,53160,1858,57993,...,51505,1131,49748,1185,49427,1578,49349,1346,48944,1525
35,North Dakota,63657,2312,70905,3210,68555,3190,63237,1770,64918,...,50824,2129,49346,1978,48629,1775,48783,1861,49425,2470
36,Ohio,60110,1577,65470,3049,63533,2323,63112,1996,58232,...,58520,1342,56334,1213,56784,1329,57914,1298,55022,1171
37,Oklahoma,52341,1785,60138,2386,56112,2860,58084,3276,54950,...,49927,1595,47412,1932,47363,1969,48783,1758,50322,1708
38,Oregon,76554,3465,75342,5746,71297,3768,68225,3016,63787,...,58536,2426,54728,2387,56011,2265,50368,2397,50919,1773
39,Pennsylvania,70117,3524,71463,3266,66513,1685,66708,2907,65776,...,56414,1048,55571,1183,53827,1119,52630,1238,48414,1187
40,Rhode Island,80012,3430,71027,5042,64186,3451,70105,4445,66368,...,62954,3342,61840,3148,60006,2397,56651,2070,51426,2018
41,South Carolina,60097,2037,62803,1805,59215,2146,58047,2194,58610,...,53864,2426,54752,2483,49669,1953,46094,1983,48326,2222
42,South Dakota,69787,4317,65057,3823,61296,2723,60078,3836,61969,...,47031,1483,46231,1305,44989,1501,41736,1615,46184,2208
43,Tennessee,54665,1803,57334,2801,57788,1486,58331,2283,55383,...,43997,2145,46293,1738,41276,1999,40899,1281,39933,1371
44,Texas,68093,1914,68286,1791,61628,1414,62613,1797,62720,...,52661,1228,54035,1392,54630,1162,54622,1256,54786,1268
45,Utah,83670,2981,85578,3538,79443,2399,75310,2376,72789,...,55509,1918,57987,2610,59421,1831,58061,1615,54865,1749
46,Vermont,66902,4046,75233,3123,72226,2422,67375,3308,65623,...,61152,2272,55552,3003,55618,2268,59814,2167,53725,2339
47,Virginia,81947,3172,82328,3094,79529,3181,75282,3459,71678,...,68873,2783,65565,2214,67185,2428,65402,3046,63117,2080
48,Washington,81083,3095,83483,2956,82184,3118,79638,3492,75841,...,68196,2173,59713,2422,60777,2148,55213,1739,59529,1958
49,West Virginia,51615,2177,54376,3032,52132,1378,47932,1568,47843,...,40827,1962,37611,1701,37225,2046,36770,1905,40078,1447
50,Wisconsin,67094,4690,68196,2352,64560,2102,67001,3879,64522,...,62391,2063,57637,3082,59758,1816,53478,2671,49358,1954
51,Wyoming,65108,2152,65947,3820,64467,4012,61073,3309,62378,...,55733,2310,60306,3187,53266,1951,50798,2413,56671,1739

In [3]:
income.columns[1:]

Index(['Median income', 'Standard error', 'Median income.1',
       'Standard error.1', 'Median income.2', 'Standard error.2',
       'Median income.3', 'Standard error.3', 'Median income.4',
       'Standard error.4', 'Median income.5', 'Standard error.5',
       'Median income.6', 'Standard error.6', 'Median income.7',
       'Standard error.7', 'Median income.8', 'Standard error.8',
       'Median income.9', 'Standard error.9', 'Median income.10',
       'Standard error.10', 'Median income.11', 'Standard error.11',
       'Median income.12', 'Standard error.12', 'Median income.13',
       'Standard error.13', 'Median income.14', 'Standard error.14',
       'Median income.15', 'Standard error.15', 'Median income.16',
       'Standard error.16', 'Median income.17', 'Standard error.17',
       'Median income.18', 'Standard error.18', 'Median income.19',
       'Standard error.19', 'Median income.20', 'Standard error.20',
       'Median income.21', 'Standard error.21', 'Median income.22',
       'Standard error.22', 'Median income.23', 'Standard error.23',
       'Median income.24', 'Standard error.24', 'Median income.25',
       'Standard error.25', 'Median income.26', 'Standard error.26',
       'Median income.27', 'Standard error.27', 'Median income.28',
       'Standard error.28', 'Median income.29', 'Standard error.29',
       'Median income.30', 'Standard error.30', 'Median income.31',
       'Standard error.31', 'Median income.32', 'Standard error.32',
       'Median income.33', 'Standard error.33', 'Median income.34',
       'Standard error.34', 'Median income.35', 'Standard error.35',
       'Median income.36', 'Standard error.36'],
      dtype='object')

In [4]:
z=[]
for x in range (2020,1983,-1):
    z.append('Median income_'+str(x))
    z.append('Standard error_'+str(x))
z
col_dict={list(income.columns[1:])[i]: z[i] for i in range(len(z))}
col_dict

{'Median income': 'Median income_2020',
 'Standard error': 'Standard error_2020',
 'Median income.1': 'Median income_2019',
 'Standard error.1': 'Standard error_2019',
 'Median income.2': 'Median income_2018',
 'Standard error.2': 'Standard error_2018',
 'Median income.3': 'Median income_2017',
 'Standard error.3': 'Standard error_2017',
 'Median income.4': 'Median income_2016',
 'Standard error.4': 'Standard error_2016',
 'Median income.5': 'Median income_2015',
 'Standard error.5': 'Standard error_2015',
 'Median income.6': 'Median income_2014',
 'Standard error.6': 'Standard error_2014',
 'Median income.7': 'Median income_2013',
 'Standard error.7': 'Standard error_2013',
 'Median income.8': 'Median income_2012',
 'Standard error.8': 'Standard error_2012',
 'Median income.9': 'Median income_2011',
 'Standard error.9': 'Standard error_2011',
 'Median income.10': 'Median income_2010',
 'Standard error.10': 'Standard error_2010',
 'Median income.11': 'Median income_2009',
 'Standard error.11': 'Standard error_2009',
 'Median income.12': 'Median income_2008',
 'Standard error.12': 'Standard error_2008',
 'Median income.13': 'Median income_2007',
 'Standard error.13': 'Standard error_2007',
 'Median income.14': 'Median income_2006',
 'Standard error.14': 'Standard error_2006',
 'Median income.15': 'Median income_2005',
 'Standard error.15': 'Standard error_2005',
 'Median income.16': 'Median income_2004',
 'Standard error.16': 'Standard error_2004',
 'Median income.17': 'Median income_2003',
 'Standard error.17': 'Standard error_2003',
 'Median income.18': 'Median income_2002',
 'Standard error.18': 'Standard error_2002',
 'Median income.19': 'Median income_2001',
 'Standard error.19': 'Standard error_2001',
 'Median income.20': 'Median income_2000',
 'Standard error.20': 'Standard error_2000',
 'Median income.21': 'Median income_1999',
 'Standard error.21': 'Standard error_1999',
 'Median income.22': 'Median income_1998',
 'Standard error.22': 'Standard error_1998',
 'Median income.23': 'Median income_1997',
 'Standard error.23': 'Standard error_1997',
 'Median income.24': 'Median income_1996',
 'Standard error.24': 'Standard error_1996',
 'Median income.25': 'Median income_1995',
 'Standard error.25': 'Standard error_1995',
 'Median income.26': 'Median income_1994',
 'Standard error.26': 'Standard error_1994',
 'Median income.27': 'Median income_1993',
 'Standard error.27': 'Standard error_1993',
 'Median income.28': 'Median income_1992',
 'Standard error.28': 'Standard error_1992',
 'Median income.29': 'Median income_1991',
 'Standard error.29': 'Standard error_1991',
 'Median income.30': 'Median income_1990',
 'Standard error.30': 'Standard error_1990',
 'Median income.31': 'Median income_1989',
 'Standard error.31': 'Standard error_1989',
 'Median income.32': 'Median income_1988',
 'Standard error.32': 'Standard error_1988',
 'Median income.33': 'Median income_1987',
 'Standard error.33': 'Standard error_1987',
 'Median income.34': 'Median income_1986',
 'Standard error.34': 'Standard error_1986',
 'Median income.35': 'Median income_1985',
 'Standard error.35': 'Standard error_1985',
 'Median income.36': 'Median income_1984',
 'Standard error.36': 'Standard error_1984'}

In [5]:
income=income.rename(columns=col_dict)
income=income.rename(columns={'Unnamed: 0': 'State'})
income

,State,Median income_2020,Standard error_2020,Median income_2019,Standard error_2019,Median income_2018,Standard error_2018,Median income_2017,Standard error_2017,Median income_2016,...,Median income_1988,Standard error_1988,Median income_1987,Standard error_1987,Median income_1986,Standard error_1986,Median income_1985,Standard error_1985,Median income_1984,Standard error_1984
0,United States,67521,475,69560,557,65127,433,64806,354,63683,...,57433,293,56964,278,56291,292,54334,294,53337,243
1,Alabama,54393,2587,56901,2544,51475,2498,53973,892,50936,...,42082,1924,43134,2507,43257,2001,42176,1748,41190,1440
2,Alaska,74476,3570,79373,6769,70853,3495,76273,2871,81680,...,69833,2496,72640,3272,70895,2299,80017,2505,76992,3505
3,Arizona,66628,3534,71556,3433,64203,2362,64545,2790,61592,...,55767,1778,58467,1950,57655,1623,54930,1712,50981,1449
4,Arkansas,50540,1992,55220,2414,51316,2173,51561,2790,49518,...,42554,1489,41152,2203,42348,1730,40147,1758,37297,1780
5,California,77358,1351,79080,1873,72662,1271,73662,1533,71879,...,63893,1337,65893,1176,65591,1289,62071,805,60171,866
6,Colorado,82611,6144,73404,5286,75285,3672,78322,3149,76117,...,55300,2711,57871,2350,61480,2094,64834,1955,61394,1916
7,Connecticut,79043,3601,88380,4688,75057,5277,76852,3705,81895,...,76394,2728,71829,2977,73981,3629,71524,2597,71269,2946
8,Delaware,69132,5258,75120,3047,67016,3710,65805,3485,62612,...,64353,2462,63921,1913,57940,2740,52866,3143,61437,2444
9,District of Columbia,88311,3531,94273,3933,88393,2741,88048,3505,76566,...,56412,1578,60011,2809,54991,2831,48486,1739,48561,2046
10,Florida,57435,1766,59097,1598,56329,1945,56685,1918,55202,...,53596,1002,53528,1040,51661,1221,49100,1005,47079,1114
11,Georgia,58952,2080,57335,1804,57542,2095,60206,2570,57738,...,56043,1890,58391,3016,55100,2514,48424,1813,47552,1939
12,Hawaii,80729,2487,89105,3610,82578,3589,77692,2352,77807,...,69667,3126,76550,2348,65575,2727,66626,3327,68714,2894
13,Idaho,66499,1961,66812,2179,60538,2479,63577,2534,61014,...,49470,2118,45366,1823,46913,1537,47762,1376,50189,2291
14,Illinois,73753,2335,75328,2658,72307,2322,68224,2111,66215,...,62283,1591,59200,1172,59941,1433,57215,1203,56518,1349
15,Indiana,66360,4086,67526,3151,61738,2059,62167,2139,60507,...,55467,1964,49222,2063,51387,1603,52165,1440,54182,1689
16,Iowa,68469,3475,66879,4059,70836,3000,67033,5820,63743,...,51273,2274,48502,1993,50779,1696,48143,1390,47265,1773
17,Kansas,72815,3671,74065,4383,65909,2089,61110,3060,61279,...,53933,2432,55919,1967,54096,1768,52425,2376,58605,2170
18,Kentucky,56525,2361,56357,2585,56237,3781,54221,1440,48938,...,41995,1690,45187,2052,44935,2275,39940,1721,42070,2568
19,Louisiana,50935,1637,52352,1430,51514,1808,46360,1534,45515,...,43240,3110,46664,1875,47232,2161,48723,1675,45090,2094
20,Maine,63440,3198,67377,5064,60471,5858,54555,2266,54857,...,55697,1987,51584,2227,52961,2193,47205,1847,49132,2104
21,Maryland,94384,4208,96765,3325,88881,3434,85621,3856,79562,...,77109,2523,76437,3034,69195,2342,69329,2222,70691,2739
22,Massachusetts,86725,6349,88802,2863,89007,2871,77324,3514,77951,...,70065,1770,70472,1565,68596,1662,64891,1863,64150,1649
23,Michigan,63829,3320,64920,1701,62312,1965,60929,2468,61582,...,62173,1281,60550,1583,60153,1465,55770,1928,54646,1511
24,Minnesota,78461,3498,82443,3025,74031,3769,75944,3158,75742,...,61361,2196,61381,2433,59787,2600,54882,2351,58146,2175
25,Mississippi,44966,2695,45346,3034,44100,2375,45872,2327,44332,...,38323,1873,40465,1969,37335,1445,37759,1424,36716,1742
26,Missouri,61901,2594,61353,2969,63629,2517,60068,2757,59344,...,49455,2295,51847,2551,49572,1745,50472,1399,49435,1701
27,Montana,56442,2479,60946,2322,59457,2965,62393,2734,61565,...,46898,1749,44752,1746,45961,1693,46554,1840,46486,1713
28,Nebraska,72024,2409,73983,3300,69658,4054,62955,3007,64045,...,53075,2025,50859,1663,49226,1840,50150,2103,50915,1820
29,Nevada,60956,2448,71791,3508,63771,2181,59714,3209,59791,...,59032,2017,58749,2466,59276,2024,53543,2312,61335,2422
30,New Hampshire,88235,3325,87984,2755,83854,3499,78987,3211,82259,...,73044,2382,70684,3169,69068,1874,60741,2471,61663,1749
31,New Jersey,85239,4164,88821,4119,76463,2933,77082,3167,73854,...,76550,1388,74843,1736,71707,1904,71271,1479,66094,1904
32,New Mexico,50822,1732,53776,2224,49771,2270,50533,2079,52262,...,40706,1757,45372,1357,44869,1567,46984,2358,49090,2449
33,New York,68304,2384,72752,1721,69348,1775,65941,2210,66270,...,60998,1409,57670,997,56581,1072,54383,1203,52414,992
34,North Carolina,60266,1823,61922,1669,55014,1815,53160,1858,57993,...,51505,1131,49748,1185,49427,1578,49349,1346,48944,1525
35,North Dakota,63657,2312,70905,3210,68555,3190,63237,1770,64918,...,50824,2129,49346,1978,48629,1775,48783,1861,49425,2470
36,Ohio,60110,1577,65470,3049,63533,2323,63112,1996,58232,...,58520,1342,56334,1213,56784,1329,57914,1298,55022,1171
37,Oklahoma,52341,1785,60138,2386,56112,2860,58084,3276,54950,...,49927,1595,47412,1932,47363,1969,48783,1758,50322,1708
38,Oregon,76554,3465,75342,5746,71297,3768,68225,3016,63787,...,58536,2426,54728,2387,56011,2265,50368,2397,50919,1773
39,Pennsylvania,70117,3524,71463,3266,66513,1685,66708,2907,65776,...,56414,1048,55571,1183,53827,1119,52630,1238,48414,1187
40,Rhode Island,80012,3430,71027,5042,64186,3451,70105,4445,66368,...,62954,3342,61840,3148,60006,2397,56651,2070,51426,2018
41,South Carolina,60097,2037,62803,1805,59215,2146,58047,2194,58610,...,53864,2426,54752,2483,49669,1953,46094,1983,48326,2222
42,South Dakota,69787,4317,65057,3823,61296,2723,60078,3836,61969,...,47031,1483,46231,1305,44989,1501,41736,1615,46184,2208
43,Tennessee,54665,1803,57334,2801,57788,1486,58331,2283,55383,...,43997,2145,46293,1738,41276,1999,40899,1281,39933,1371
44,Texas,68093,1914,68286,1791,61628,1414,62613,1797,62720,...,52661,1228,54035,1392,54630,1162,54622,1256,54786,1268
45,Utah,83670,2981,85578,3538,79443,2399,75310,2376,72789,...,55509,1918,57987,2610,59421,1831,58061,1615,54865,1749
46,Vermont,66902,4046,75233,3123,72226,2422,67375,3308,65623,...,61152,2272,55552,3003,55618,2268,59814,2167,53725,2339
47,Virginia,81947,3172,82328,3094,79529,3181,75282,3459,71678,...,68873,2783,65565,2214,67185,2428,65402,3046,63117,2080
48,Washington,81083,3095,83483,2956,82184,3118,79638,3492,75841,...,68196,2173,59713,2422,60777,2148,55213,1739,59529,1958
49,West Virginia,51615,2177,54376,3032,52132,1378,47932,1568,47843,...,40827,1962,37611,1701,37225,2046,36770,1905,40078,1447
50,Wisconsin,67094,4690,68196,2352,64560,2102,67001,3879,64522,...,62391,2063,57637,3082,59758,1816,53478,2671,49358,1954
51,Wyoming,65108,2152,65947,3820,64467,4012,61073,3309,62378,...,55733,2310,60306,3187,53266,1951,50798,2413,56671,1739

In [6]:
election=pd.read_csv('1976-2020-president.csv')
election

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4282,2020,WYOMING,WY,56,83,68,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,5768,278503,20210113,NaN,LIBERTARIAN
4283,2020,WYOMING,WY,56,83,68,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,False,2208,278503,20210113,NaN,OTHER
4284,2020,WYOMING,WY,56,83,68,US PRESIDENT,NaN,NaN,True,1739,278503,20210113,NaN,OTHER
4285,2020,WYOMING,WY,56,83,68,US PRESIDENT,OVERVOTES,NaN,False,279,278503,20210113,NaN,OTHER
4286,2020,WYOMING,WY,56,83,68,US PRESIDENT,UNDERVOTES,NaN,False,1459,278503,20210113,NaN,OTHER

In [7]:
#election.to_excel('president.xlsx')

In [8]:
election['party_detailed'].unique()

array(['DEMOCRAT', 'REPUBLICAN', 'AMERICAN INDEPENDENT PARTY',
       'PROHIBITION', 'COMMUNIST PARTY USE', 'LIBERTARIAN', nan,
       'INDEPENDENT', 'SOCIALIST WORKERS', 'AMERICAN', 'PEACE & FREEDOM',
       'U.S. LABOR', 'NO PARTY AFFILIATION', 'SOCIALIST LABOR',
       'AMERICAN PARTY OF IOWA', 'SOCIALIST U.S.A.', 'CONSERVATIVE',
       'HUMAN RIGHTS', "MCCARTHY '76", "PEOPLE'S",
       'INTERNATIONAL DEVELOPMENT BANK', 'INDUSTRIAL GOVERNMENT PARTY',
       'SOCIALIST', 'LIBERAL PARTY', 'FREE LIBERTARIAN', 'LABOR',
       'CONSTITUTION PARTY', 'CONCERNED CITIZENS', 'STATESMAN',
       'CITIZENS', 'WORKERS WORLD', 'NATIONAL UNITY CAMPAIGN',
       'ANDERSON COALITION', 'NOMINATED BY PETITION', 'RESPECT FOR LIFE',
       'RIGHT-TO-LIFE', 'MIDDLE CLASS CANDIDATE', 'DOWN WITH LAWYERS',
       "NATURAL PEOPLE'S LEAGUE", 'POPULIST', 'ALLIANCE',
       'UNITED SOVEREIGN CITIZENS', 'WORKERS LEAGUE', 'BIG DEAL PARTY',
       'NATIONAL UNITY', 'NEW ALLIANCE', 'NATIONAL ECONOMIC RECOVERY',
       'THIRD WORLD ASSEMBLY', 'SOLIDARITY', 'PATRIOTIC PARTY', 'OTHER',
       'PROGRESSIVE', 'GRASSROOTS', 'CONSUMER', 'WRITE-IN',
       'UNITED CITIZENS', 'LIBERTY UNION PARTY', 'AMERICA FIRST',
       'INDEPENDENTS FOR ECONOMIC RECOVERY', 'NATURAL LAW',
       'TAXPAYERS PARTY', 'DEMOCRAT/REPUBLICAN', 'UNAFFILIATED',
       'CAMPAIGN FOR A NEW TOMORROW', 'EQUAL JUSTICE AND OPPORTUNITY',
       'MORE PERFECT DEMOCRACY', 'JUSTICE, INDUSTRY, AND AGRICULTURE',
       'INDEPENDENT VOTERS', 'LAROUCHE FOR PRESIDENT PARTY',
       'SOCIALIST PARTY USA', 'TISCH INDEPENDENT CITIZENS',
       'INDEPENDENT AMERICAN', '6 MILLION JOBS',
       'RON DANIELS INDEPENDENT', 'AMERICA FIRST POPULIST',
       'INDEPENDENTS FOR LAROUCHE', 'FREEDOM FOR LAROUCHE',
       'LABOR-FARM-LABORISTA-AGRARIO', 'THIRD PARTY', 'REFORM PARTY',
       'GREEN', 'U.S. TAXPAYERS PARTY', 'LOOKING BACK PARTY',
       'LIBERTY, ECOLOGY, COMMUNITY', 'SOCIALIST EQUALITY PARTY',
       'INDEPENDENT GRASSROOTS', 'INDEPENDENCE', 'FREEDOM',
       'INDEPENDENT NOMINATION', 'PATRIOT PARTY', 'UNENROLLED',
       'DEMOCRATIC-FARMER-LABOR', 'REFORM PARTY MINNESOTA',
       'CITIZENS FIRST', 'WORKING FAMILIES', 'PROGRESSIVE/GREEN',
       'VERMONT GRASSROOTS', 'ALASKAN INDEPENDENCE PARTY',
       'AMERICAN CONSTITUTION PARTY', 'CONCERNS OF PEOPLE',
       'PETITIONING CANDIDATE', 'D.C. STATEHOOD GREEN',
       'CONSTITUTION PARTY OF FLORIDA', 'SOCIALIST PARTY OF FLORIDA',
       'PROTECTING WORKING FAMILIES', 'GREEN-RAINBOW', 'BETTER LIFE',
       'CHRISTIAN FREEDOM PARTY', 'NEBRASKA PARTY', 'PEACE AND JUSTICE',
       'PACIFIC GREEN', 'NONPARTISAN', 'PERSONAL CHOICE',
       'WISCONSIN GREEN', 'SOCIALISM AND LIBERATION PARTY',
       "AMERICA'S INDEPENDENT PARTY", 'BOSTON TEA PARTY',
       "HEARTQUAKE '08", 'OBJECTIVIST PARTY', 'U.S. PACIFIST PARTY',
       'ECOLOGY PARTY OF FLORIDA', 'NEW', 'LOUISIANA TAXPAYERS PARTY',
       'VOTE HERE', 'PEACE PARTY', 'INDEPENDENT GREEN', 'MOUNTAIN PARTY',
       'WE THE PEOPLE', 'JUSTICE', "AMERICA'S PARTY",
       'AMERICAN THIRD POSITION', 'AMERICAN INDEPENDENT',
       'CONSTITUTIONAL GOVERNMENT', 'NSA DID 911',
       'NEW MEXICO INDEPENDENT PARTY', 'AMERICAN DELTA PARTY',
       'BETTER FOR AMERICA', 'VETERANS PARTY OF AMERICA',
       'INDEPENDENT PEOPLE OF COLORADO', 'AMERICAN SOLIDARITY PARTY',
       'NUTRITION PARTY', 'KOTLIKOFF FOR PRESIDENT',
       'NONVIOLENT RESISTANCE/PACIFIST', 'APPROVAL VOTING PARTY',
       'NEW INDEPENDENT PARTY IOWA', 'LEGAL MARIJUANA NOW',
       'WORKERS WORLD PARTY', "WOMEN'S EQUALITY",
       'PARTY FOR SOCIALISM AND LIBERATION', 'LIFE AND LIBERTY PARTY',
       'UNITY PARTY', 'PROHIBITION PARTY', 'PROGRESSIVE PARTY',
       'SOCIALIST WORKERS PARTY', 'INDEPENDENT AMERICAN PARTY',
       'NON-AFFILIATED', 'DC STATEHOOD GREEN', 'AMERICAN SHOPPING PARTY',
       'GENEOLOGY KNOW YOUR FAMILY HISTORY PARTY', 'BECOMING ONE NATION',
       'C.U.P', 'FREEDOM AND PROSPERITY', 'LIFE , LIBERTY, CONSTITUTION',
       'THE BIRTHDAY PARTY', 'BREAD AND ROSES', 'US TAXPAYERS PARTY',
       'GRUMPY OLD PATRIOTS', 'AMERICAN SOLIDARITY', 'CONSTITUTION',
       'LIBERTY UNION', 'BOILING FROG', 'BULL MOOSE', 'APPROVAL VOTING'],
      dtype=object)

In [9]:
election.party_simplified.unique()

array(['DEMOCRAT', 'REPUBLICAN', 'OTHER', 'LIBERTARIAN'], dtype=object)

In [10]:
election_dem=election[election.party_simplified=='DEMOCRAT']
election_dem['Dem_candidate']=election_dem['candidate']
election_dem['Dem_votes']=election_dem['candidatevotes']
election_dem=election_dem[['year','state','Dem_candidate','Dem_votes','totalvotes']]

election_dem

<ipython-input-10-4e38ad8f5e38>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  election_dem['Dem_candidate']=election_dem['candidate']
<ipython-input-10-4e38ad8f5e38>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  election_dem['Dem_votes']=election_dem['candidatevotes']

      year          state        Dem_candidate  Dem_votes  totalvotes
0     1976        ALABAMA        CARTER, JIMMY     659170     1182850
8     1976         ALASKA        CARTER, JIMMY      44058      123574
12    1976        ARIZONA        CARTER, JIMMY     295602      742719
19    1976       ARKANSAS        CARTER, JIMMY     498604      767535
24    1976     CALIFORNIA        CARTER, JIMMY    3742284     7803770
...    ...            ...                  ...        ...         ...
4252  2020       VIRGINIA  BIDEN, JOSEPH R. JR    2413568     4460524
4256  2020     WASHINGTON  BIDEN, JOSEPH R. JR    2369612     4087631
4263  2020  WEST VIRGINIA  BIDEN, JOSEPH R. JR     235984      794652
4267  2020      WISCONSIN  BIDEN, JOSEPH R. JR    1630866     3298041
4280  2020        WYOMING  BIDEN, JOSEPH R. JR      73491      278503

[615 rows x 5 columns]

In [11]:
election_rep=election[election.party_simplified=='REPUBLICAN']
election_rep['Rep_candidate']=election_rep['candidate']
election_rep['Rep_votes']=election_rep['candidatevotes']
election_rep=election_rep[['year','state','Rep_candidate','Rep_votes','totalvotes']]

election_rep

<ipython-input-11-c3d3c6bb02f7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  election_rep['Rep_candidate']=election_rep['candidate']
<ipython-input-11-c3d3c6bb02f7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  election_rep['Rep_votes']=election_rep['candidatevotes']

      year          state     Rep_candidate  Rep_votes  totalvotes
1     1976        ALABAMA      FORD, GERALD     504070     1182850
7     1976         ALASKA      FORD, GERALD      71555      123574
11    1976        ARIZONA      FORD, GERALD     418642      742719
20    1976       ARKANSAS      FORD, GERALD     267903      767535
23    1976     CALIFORNIA      FORD, GERALD    3882244     7803770
...    ...            ...               ...        ...         ...
4253  2020       VIRGINIA  TRUMP, DONALD J.    1962430     4460524
4257  2020     WASHINGTON  TRUMP, DONALD J.    1584651     4087631
4264  2020  WEST VIRGINIA  TRUMP, DONALD J.     545382      794652
4268  2020      WISCONSIN  TRUMP, DONALD J.    1610184     3298041
4281  2020        WYOMING  TRUMP, DONALD J.     193559      278503

[613 rows x 5 columns]

In [12]:
election_other=election[election.party_simplified=='OTHER']
election_lib=election[election.party_simplified=='LIBERTARIAN']
election_other=pd.concat([election_other,election_lib])
election_other=election_other.groupby(['year','state']).agg({'candidatevotes':'sum'})
election_other['Third_party_votes']=election_other['candidatevotes']
election_other=election_other.drop(columns=['candidatevotes'])
election_other

                    Third_party_votes
year state
1976 ALABAMA                    19610
     ALASKA                      7961
     ARIZONA                    28475
     ARKANSAS                    1028
     CALIFORNIA                179242
...                               ...
2020 VIRGINIA                   84526
     WASHINGTON                133368
     WEST VIRGINIA              13286
     WISCONSIN                  56991
     WYOMING                    11453

[605 rows x 1 columns]

In [13]:
election_other

                    Third_party_votes
year state
1976 ALABAMA                    19610
     ALASKA                      7961
     ARIZONA                    28475
     ARKANSAS                    1028
     CALIFORNIA                179242
...                               ...
2020 VIRGINIA                   84526
     WASHINGTON                133368
     WEST VIRGINIA              13286
     WISCONSIN                  56991
     WYOMING                    11453

[605 rows x 1 columns]

In [14]:
election=election_dem.merge(election_rep,how='inner',on=['year','state']).merge(election_other,how='inner',on=['year','state'])
election

,year,state,Dem_candidate,Dem_votes,totalvotes_x,Rep_candidate,Rep_votes,totalvotes_y,Third_party_votes
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,"FORD, GERALD",504070,1182850,19610
1,1976,ALASKA,"CARTER, JIMMY",44058,123574,"FORD, GERALD",71555,123574,7961
2,1976,ARIZONA,"CARTER, JIMMY",295602,742719,"FORD, GERALD",418642,742719,28475
3,1976,ARKANSAS,"CARTER, JIMMY",498604,767535,"FORD, GERALD",267903,767535,1028
4,1976,CALIFORNIA,"CARTER, JIMMY",3742284,7803770,"FORD, GERALD",3882244,7803770,179242
...,...,...,...,...,...,...,...,...,...
605,2020,VIRGINIA,"BIDEN, JOSEPH R. JR",2413568,4460524,"TRUMP, DONALD J.",1962430,4460524,84526
606,2020,WASHINGTON,"BIDEN, JOSEPH R. JR",2369612,4087631,"TRUMP, DONALD J.",1584651,4087631,133368
607,2020,WEST VIRGINIA,"BIDEN, JOSEPH R. JR",235984,794652,"TRUMP, DONALD J.",545382,794652,13286
608,2020,WISCONSIN,"BIDEN, JOSEPH R. JR",1630866,3298041,"TRUMP, DONALD J.",1610184,3298041,56991
609,2020,WYOMING,"BIDEN, JOSEPH R. JR",73491,278503,"TRUMP, DONALD J.",193559,278503,11453

In [15]:
population=pd.read_excel('population.xlsx',sheet_name='1980-2020')
population

,State,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population
0,Alabama,5024279,4779736,4447100,4040587,3893888
1,Alaska,733391,710231,626932,550043,401851
2,Arizona,7151502,6392017,5130632,3665228,2718215
3,Arkansas,3011524,2915918,2673400,2350725,2286435
4,California,39538223,37253956,33871648,29760021,23667902
5,Colorado,5773714,5029196,4301261,3294394,2889964
6,Connecticut,3605944,3574097,3405565,3287116,3107576
7,Delaware,989948,897934,783600,666168,594338
8,District of Columbia,689545,601723,572059,606900,638333
9,Florida,21538187,18801310,15982378,12937926,9746324
10,Georgia,10711908,9687653,8186453,6478216,5463105
11,Hawaii,1455271,1360301,1211537,1108229,964691
12,Idaho,1839106,1567582,1293953,1006749,943935
13,Illinois,12812508,12830632,12419293,11430602,11426518
14,Indiana,6785528,6483802,6080485,5544159,5490224
15,Iowa,3190369,3046355,2926324,2776755,2913808
16,Kansas,2937880,2853118,2688418,2477574,2363679
17,Kentucky,4505836,4339367,4041769,3685296,3660777
18,Louisiana,4657757,4533372,4468976,4219973,4205900
19,Maine,1362359,1328361,1274923,1227928,1124660
20,Maryland,6177224,5773552,5296486,4781468,4216975
21,Massachusetts,7029917,6547629,6349097,6016425,5737037
22,Michigan,10077331,9883640,9938444,9295297,9262078
23,Minnesota,5706494,5303925,4919479,4375099,4075970
24,Mississippi,2961279,2967297,2844658,2573216,2520638
25,Missouri,6154913,5988927,5595211,5117073,4916686
26,Montana,1084225,989415,902195,799065,786690
27,Nebraska,1961504,1826341,1711263,1578385,1569825
28,Nevada,3104614,2700551,1998257,1201833,800493
29,New Hampshire,1377529,1316470,1235786,1109252,920610
30,New Jersey,9288994,8791894,8414350,7730188,7364823
31,New Mexico,2117522,2059179,1819046,1515069,1302894
32,New York,20201249,19378102,18976457,17990455,17558072
33,North Carolina,10439388,9535483,8049313,6628637,5881766
34,North Dakota,779094,672591,642200,638800,652717
35,Ohio,11799448,11536504,11353140,10847115,10797630
36,Oklahoma,3959353,3751351,3450654,3145585,3025290
37,Oregon,4237256,3831074,3421399,2842321,2633105
38,Pennsylvania,13002700,12702379,12281054,11881643,11863895
39,Rhode Island,1097379,1052567,1048319,1003464,947154
40,South Carolina,5118425,4625364,4012012,3486703,3121820
41,South Dakota,886667,814180,754844,696004,690768
42,Tennessee,6910840,6346105,5689283,4877185,4591120
43,Texas,29145505,25145561,20851820,16986510,14229191
44,Utah,3271616,2763885,2233169,1722850,1461037
45,Vermont,643077,625741,608827,562758,511456
46,Virginia,8631393,8001024,7078515,6187358,5346818
47,Washington,7705281,6724540,5894121,4866692,4132156
48,West Virginia,1793716,1852994,1808344,1793477,1949644
49,Wisconsin,5893718,5686986,5363675,4891769,4705767
50,Wyoming,576851,563626,493782,453588,469557

In [16]:
population=population.rename(columns={'2020 Population':'Population_2020','2010 Population':'Population_2010','2000 Population':'Population_2000','1990 Population':'Population_1990','1980 Population':'Population_1980'})

In [17]:
population

,State,Population_2020,Population_2010,Population_2000,Population_1990,Population_1980
0,Alabama,5024279,4779736,4447100,4040587,3893888
1,Alaska,733391,710231,626932,550043,401851
2,Arizona,7151502,6392017,5130632,3665228,2718215
3,Arkansas,3011524,2915918,2673400,2350725,2286435
4,California,39538223,37253956,33871648,29760021,23667902
5,Colorado,5773714,5029196,4301261,3294394,2889964
6,Connecticut,3605944,3574097,3405565,3287116,3107576
7,Delaware,989948,897934,783600,666168,594338
8,District of Columbia,689545,601723,572059,606900,638333
9,Florida,21538187,18801310,15982378,12937926,9746324
10,Georgia,10711908,9687653,8186453,6478216,5463105
11,Hawaii,1455271,1360301,1211537,1108229,964691
12,Idaho,1839106,1567582,1293953,1006749,943935
13,Illinois,12812508,12830632,12419293,11430602,11426518
14,Indiana,6785528,6483802,6080485,5544159,5490224
15,Iowa,3190369,3046355,2926324,2776755,2913808
16,Kansas,2937880,2853118,2688418,2477574,2363679
17,Kentucky,4505836,4339367,4041769,3685296,3660777
18,Louisiana,4657757,4533372,4468976,4219973,4205900
19,Maine,1362359,1328361,1274923,1227928,1124660
20,Maryland,6177224,5773552,5296486,4781468,4216975
21,Massachusetts,7029917,6547629,6349097,6016425,5737037
22,Michigan,10077331,9883640,9938444,9295297,9262078
23,Minnesota,5706494,5303925,4919479,4375099,4075970
24,Mississippi,2961279,2967297,2844658,2573216,2520638
25,Missouri,6154913,5988927,5595211,5117073,4916686
26,Montana,1084225,989415,902195,799065,786690
27,Nebraska,1961504,1826341,1711263,1578385,1569825
28,Nevada,3104614,2700551,1998257,1201833,800493
29,New Hampshire,1377529,1316470,1235786,1109252,920610
30,New Jersey,9288994,8791894,8414350,7730188,7364823
31,New Mexico,2117522,2059179,1819046,1515069,1302894
32,New York,20201249,19378102,18976457,17990455,17558072
33,North Carolina,10439388,9535483,8049313,6628637,5881766
34,North Dakota,779094,672591,642200,638800,652717
35,Ohio,11799448,11536504,11353140,10847115,10797630
36,Oklahoma,3959353,3751351,3450654,3145585,3025290
37,Oregon,4237256,3831074,3421399,2842321,2633105
38,Pennsylvania,13002700,12702379,12281054,11881643,11863895
39,Rhode Island,1097379,1052567,1048319,1003464,947154
40,South Carolina,5118425,4625364,4012012,3486703,3121820
41,South Dakota,886667,814180,754844,696004,690768
42,Tennessee,6910840,6346105,5689283,4877185,4591120
43,Texas,29145505,25145561,20851820,16986510,14229191
44,Utah,3271616,2763885,2233169,1722850,1461037
45,Vermont,643077,625741,608827,562758,511456
46,Virginia,8631393,8001024,7078515,6187358,5346818
47,Washington,7705281,6724540,5894121,4866692,4132156
48,West Virginia,1793716,1852994,1808344,1793477,1949644
49,Wisconsin,5893718,5686986,5363675,4891769,4705767
50,Wyoming,576851,563626,493782,453588,469557

In [18]:
population_long=pd.wide_to_long(population,stubnames='Population',i='State',j='Year',sep='_')

In [19]:
population_long

                    Population
State         Year
Alabama       2020     5024279
Alaska        2020      733391
Arizona       2020     7151502
Arkansas      2020     3011524
California    2020    39538223
...                        ...
Virginia      1980     5346818
Washington    1980     4132156
West Virginia 1980     1949644
Wisconsin     1980     4705767
Wyoming       1980      469557

[255 rows x 1 columns]

In [20]:
population_long.reset_index(level=0,inplace=True)
population_long.reset_index(level=0,inplace=True)

In [21]:
population_long=population_long.rename(columns={'Year':'year','State':'state'})

In [22]:
population_long

     year          state  Population
0    2020        Alabama     5024279
1    2020         Alaska      733391
2    2020        Arizona     7151502
3    2020       Arkansas     3011524
4    2020     California    39538223
..    ...            ...         ...
250  1980       Virginia     5346818
251  1980     Washington     4132156
252  1980  West Virginia     1949644
253  1980      Wisconsin     4705767
254  1980        Wyoming      469557

[255 rows x 3 columns]

In [23]:
long_income=pd.wide_to_long(income,stubnames=['Median income','Standard error'],i='State',j='Year',sep='_')

In [24]:
income=long_income
#income['year']=income['Year']
income.reset_index(level=0,inplace=True)

In [25]:
income.reset_index(level=0,inplace=True)

In [26]:
income=income.rename(columns={'Year':'year','State':'state'})

In [27]:
income

      year          state  Median income  Standard error
0     2020  United States          67521             475
1     2020        Alabama          54393            2587
2     2020         Alaska          74476            3570
3     2020        Arizona          66628            3534
4     2020       Arkansas          50540            1992
...    ...            ...            ...             ...
1919  1984       Virginia          63117            2080
1920  1984     Washington          59529            1958
1921  1984  West Virginia          40078            1447
1922  1984      Wisconsin          49358            1954
1923  1984        Wyoming          56671            1739

[1924 rows x 4 columns]

In [28]:
election['title_state']=election.state.str.title()
election=election.drop(columns='state')
election=election.rename(columns={'title_state': 'state'})
election

,year,Dem_candidate,Dem_votes,totalvotes_x,Rep_candidate,Rep_votes,totalvotes_y,Third_party_votes,state
0,1976,"CARTER, JIMMY",659170,1182850,"FORD, GERALD",504070,1182850,19610,Alabama
1,1976,"CARTER, JIMMY",44058,123574,"FORD, GERALD",71555,123574,7961,Alaska
2,1976,"CARTER, JIMMY",295602,742719,"FORD, GERALD",418642,742719,28475,Arizona
3,1976,"CARTER, JIMMY",498604,767535,"FORD, GERALD",267903,767535,1028,Arkansas
4,1976,"CARTER, JIMMY",3742284,7803770,"FORD, GERALD",3882244,7803770,179242,California
...,...,...,...,...,...,...,...,...,...
605,2020,"BIDEN, JOSEPH R. JR",2413568,4460524,"TRUMP, DONALD J.",1962430,4460524,84526,Virginia
606,2020,"BIDEN, JOSEPH R. JR",2369612,4087631,"TRUMP, DONALD J.",1584651,4087631,133368,Washington
607,2020,"BIDEN, JOSEPH R. JR",235984,794652,"TRUMP, DONALD J.",545382,794652,13286,West Virginia
608,2020,"BIDEN, JOSEPH R. JR",1630866,3298041,"TRUMP, DONALD J.",1610184,3298041,56991,Wisconsin
609,2020,"BIDEN, JOSEPH R. JR",73491,278503,"TRUMP, DONALD J.",193559,278503,11453,Wyoming

In [29]:
data=election.merge(income,how='left',on=['year','state'])

In [30]:
data=data.merge(population_long,how='outer',on=['year','state'])
data

,year,Dem_candidate,Dem_votes,totalvotes_x,Rep_candidate,Rep_votes,totalvotes_y,Third_party_votes,state,Median income,Standard error,Population
0,1976,"CARTER, JIMMY",659170.0,1182850.0,"FORD, GERALD",504070.0,1182850.0,19610.0,Alabama,NaN,NaN,NaN
1,1976,"CARTER, JIMMY",44058.0,123574.0,"FORD, GERALD",71555.0,123574.0,7961.0,Alaska,NaN,NaN,NaN
2,1976,"CARTER, JIMMY",295602.0,742719.0,"FORD, GERALD",418642.0,742719.0,28475.0,Arizona,NaN,NaN,NaN
3,1976,"CARTER, JIMMY",498604.0,767535.0,"FORD, GERALD",267903.0,767535.0,1028.0,Arkansas,NaN,NaN,NaN
4,1976,"CARTER, JIMMY",3742284.0,7803770.0,"FORD, GERALD",3882244.0,7803770.0,179242.0,California,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
710,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington,NaN,NaN,4866692.0
711,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,NaN,NaN,1793477.0
712,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,NaN,NaN,4891769.0
713,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,NaN,NaN,453588.0
714,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District of Columbia,NaN,NaN,638333.0

In [31]:
data.columns

Index(['year', 'Dem_candidate', 'Dem_votes', 'totalvotes_x', 'Rep_candidate',
       'Rep_votes', 'totalvotes_y', 'Third_party_votes', 'state',
       'Median income', 'Standard error', 'Population'],
      dtype='object')

In [32]:
data.reindex(columns=['year', 'state','Dem_candidate', 'Dem_votes', 'totalvotes_x', 'Rep_candidate',
       'Rep_votes', 'totalvotes_y', 'Third_party_votes',
       'Median income', 'Standard error', 'Population_x', 'Population_y'])

,year,state,Dem_candidate,Dem_votes,totalvotes_x,Rep_candidate,Rep_votes,totalvotes_y,Third_party_votes,Median income,Standard error,Population_x,Population_y
0,1976,Alabama,"CARTER, JIMMY",659170.0,1182850.0,"FORD, GERALD",504070.0,1182850.0,19610.0,NaN,NaN,NaN,NaN
1,1976,Alaska,"CARTER, JIMMY",44058.0,123574.0,"FORD, GERALD",71555.0,123574.0,7961.0,NaN,NaN,NaN,NaN
2,1976,Arizona,"CARTER, JIMMY",295602.0,742719.0,"FORD, GERALD",418642.0,742719.0,28475.0,NaN,NaN,NaN,NaN
3,1976,Arkansas,"CARTER, JIMMY",498604.0,767535.0,"FORD, GERALD",267903.0,767535.0,1028.0,NaN,NaN,NaN,NaN
4,1976,California,"CARTER, JIMMY",3742284.0,7803770.0,"FORD, GERALD",3882244.0,7803770.0,179242.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,1990,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
711,1990,West Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712,1990,Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
713,1990,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
714,1980,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data=data.drop(columns=['totalvotes_y'])

In [34]:
data=data.rename(columns={'totalvotes_x':'totalvotes','Population_x':'Population'})
data

,year,Dem_candidate,Dem_votes,totalvotes,Rep_candidate,Rep_votes,Third_party_votes,state,Median income,Standard error,Population
0,1976,"CARTER, JIMMY",659170.0,1182850.0,"FORD, GERALD",504070.0,19610.0,Alabama,NaN,NaN,NaN
1,1976,"CARTER, JIMMY",44058.0,123574.0,"FORD, GERALD",71555.0,7961.0,Alaska,NaN,NaN,NaN
2,1976,"CARTER, JIMMY",295602.0,742719.0,"FORD, GERALD",418642.0,28475.0,Arizona,NaN,NaN,NaN
3,1976,"CARTER, JIMMY",498604.0,767535.0,"FORD, GERALD",267903.0,1028.0,Arkansas,NaN,NaN,NaN
4,1976,"CARTER, JIMMY",3742284.0,7803770.0,"FORD, GERALD",3882244.0,179242.0,California,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
710,1990,NaN,NaN,NaN,NaN,NaN,NaN,Washington,NaN,NaN,4866692.0
711,1990,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,NaN,NaN,1793477.0
712,1990,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,NaN,NaN,4891769.0
713,1990,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,NaN,NaN,453588.0
714,1980,NaN,NaN,NaN,NaN,NaN,NaN,District of Columbia,NaN,NaN,638333.0

In [35]:
data.to_csv('Election_Income_Population.csv')